<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>

<body>
	<nav th:replace="layout :: header"></nav>

	<div class="container" id="main-content">
		<div class="row d-flex justify-content-center">
			<div>
				<blockquote class="blockquote text-center">
					<h1>Oops!</h1>
					<br>
					<p class="mb-0">
						The page you are looking for might have been removed, <br>
						had its name changed or is temporarily unavailable.
					</p>
					<br>
					<form style="min-width: 300px;" action="#" th:action="@{/}">
						<input type="submit" class="btn btn-info" value="HOME" />
					</form>
				</blockquote>
			</div>
		</div>
	</div>

</body>
</html>