body {
	background-color: #181818;
	color: white;
}

#main-content {
	min-height: 500px;
	margin-top: 50px;
}

.no-padding {
	padding: 0;
}

.table th, td {
	text-align: center;
}

.field-error {
	border-color: #FF0000;
	margin-bottom: 10px;
}

.fa-bigger {
	font-size: 1.5em;
}

.form-control {
	color: black;
}